<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ excerpt }}">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="/_assets/css/main.css">
        <title>ACME Touristic Services · {{ title }}</title>
    </head>
    <body>
        <header>
            <div class="title">
                ACME Touristic Services · {{ title }}
            </div>
            <hotel-wishlist></hotel-wishlist>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            Copyright 2022 – ACME Touristic Services Ltd.
        </footer>
        <script type="text/javascript" src="/_assets/js/main.js" async></script>
    </body>
</html>
